@using KnowledgeShare.Core.Posts.Types
@using KnowledgeShare.Core.Posts
@inject IGetFreeFormPostService GetFreeFormPostService;
@inject NavigationManager NavigationManager;


@if (SearchPostResultDto is not null)
{
    <div class="container" @onclick="GoToPost">
        <div class="info">
            <RadzenImage Path="@SearchPostResultDto.GetUserPhoto()" Style="width: 50px; height: 50px; border-radius: 50%;" />
            <p class="author">By @SearchPostResultDto.UserCreatedName</p><br/>
            <p class="date">on @SearchPostResultDto.CreatedDate</p>
        </div>
        <h1 class="title">@SearchPostResultDto.Title</h1>
        <div style="max-height: 300px; overflow-y: clip;">@((MarkupString)@SearchPostResultDto.GetSummary())</div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-11">
                @foreach (var tag in SearchPostResultDto.Tags)
                {
                    <RadzenBadge Text=@tag Style="margin-left: 10px;width: auto;"></RadzenBadge>
                }
            </div>
            <div class="col-1">
                <div style="display: flex;">
                    <span>@SearchPostResultDto.Likes</span> <RadzenIcon Style="color: red;margin-left: 5px;" Icon="favorite"/>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .container:hover {
        text-decoration: none;
        background-image: var(--rz-button-hover-gradient);
        background-size: var(--rz-button-hover-background-size);
        box-shadow: var(--rz-button-hover-shadow);
        cursor: pointer;
    }

    .container {
        max-width: 800px;
        padding: 20px 20px 20px 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        overflow: auto;
    }

    .title {
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 10px;
    }

    .info {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px;
    }

    .author {
        font-size: 14px;
        color: #888;
        margin-top: 5px;
        margin-left: 5px;
    }

    .date {
        font-size: 14px;
        color: #888;
        margin-top: 3px;
        margin-left: 5px;
    }
</style>

@code {
    [Parameter]  
    public SearchPostResultDto SearchPostResultDto { get; set; }

    private string LikeLabel => $"Likes {SearchPostResultDto.Likes}";
    
    private void GoToPost()
    {
        NavigationManager.NavigateTo($"/freeformpost/{SearchPostResultDto.Id}");
    }
}