@using KnowledgeShare.Core.Posts.Types
@inject IGetFreeFormPostService GetFreeFormPostService;
@inject NavigationManager NavigationManager;


@if (FreeFormPost is not null)
{
    <div class="container">
        <h1 class="title">@FreeFormPost.Title</h1>
        <div style="max-height: 300px; overflow-y: clip;">@((MarkupString)@FreeFormPost.GetSummary())</div>

        <div class="row" style="margin-top: 20px;">
            @foreach (var tag in FreeFormPost.Tags)
            {
                <RadzenBadge Text=@tag.Value Style="max-width: 90px; margin-right: 5px;"></RadzenBadge>
            }
        </div>
        <div class="info">
            <p class="author">Created by: @FreeFormPost.GetAuthor().Name</p>
            <p class="date">Created on: @FreeFormPost.GetDateTimeCreated().ToShortDateString()</p>
        </div>

        <RadzenRow Gap="0.5rem" RowGap="0.5rem">
            <RadzenColumn Size="6" class="rz-justify-content-left rz-p-5">
                <RadzenButton ButtonStyle="ButtonStyle.Primary">
                        Likes
                    <RadzenBadge Variant="Variant.Outlined" disabled="True" BadgeStyle="BadgeStyle.Light" Text="@FreeFormPost.PeopleLiked.Count().ToString()" class="rz-ml-2"/>
                </RadzenButton>
            </RadzenColumn>
            <RadzenColumn Size="6" class="rz-justify-content-right rz-p-5">
                <RadzenButton Click="() => GoToPost()" Style="width: 72px; height: 26px; float: right;" Text="View"></RadzenButton>
            </RadzenColumn>
        </RadzenRow>
    </div>
}

<style>
    .container {
        max-width: 800px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }

    .title {
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 10px;
    }

    .summary {
        font-size: 18px;
        line-height: 1.5;
        margin: 0 0 20px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px;
    }

    .author {
        font-size: 14px;
        color: #888;
        margin: 0;
    }

    .date {
        font-size: 14px;
        color: #888;
        margin: 0;
    }
</style>

@code {
    [Parameter]  
    public Guid Id { get; set; }

    public FreeFormPost? FreeFormPost = null;
    
    protected override void OnInitialized()
    {
        Task t = Task.Run(async () =>
        {
            FreeFormPost = await GetFreeFormPostService.GetFreeFormPostAsync(Id);
        });
        Task.WaitAll(t);
    }
    
    private void GoToPost()
    {
        NavigationManager.NavigateTo($"/freeformpost/{FreeFormPost.Id}");
    }
}